DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=REPLACE_ME
SESSION_SECRET=REPLACE_ME
POSTGRES_DB=qianchuan
POSTGRES_USER=qianchuan
POSTGRES_PASSWORD=REPLACE_ME
APP_ID=REPLACE_ME
APP_SECRET=REPLACE_ME
REFRESH_TOKEN=REPLACE_ME
CUSTOMER_CENTER_ID=REPLACE_ME
TIMEZONE=Asia/Shanghai
FEISHU_TARGET=
ACCOUNT_SOURCE=QIANCHUAN
MARKETING_GOAL=ALL
ORDER_PLATFORM=QIANCHUAN
PLAN_MARKETING_GOALS=VIDEO_PROM_GOODS,LIVE_PROM_GOODS
PLAN_PAGE_SIZE=100
DETAIL_SYNC_INTERVAL_MINUTES=10
OCEANENGINE_TOKEN_LOCK_KEY=qianchuan:oauth:refresh
OCEANENGINE_TOKEN_LOCK_TIMEOUT_SECONDS=120
OCEANENGINE_TOKEN_LOCK_BLOCKING_TIMEOUT_SECONDS=150
